$columns : 12!default;
$gutter:20px!default;
$medium:640px;
$landscape:800px;
$large:1024px;
@mixin responsive-columns($suffix : ''){
	@for $i from 0 through $columns{
		@if $i!=0{
			.col#{$suffix}-#{$i}
			{
			width :$i/$columns*100%;
			}
			}
			.col#{$suffix}-offset-#{$i}{margin-left:$i/$columns*100%;}
		
	}
			.col#{$suffix}-center{margin: 0 auto; float :none;}

			
}


%col{
	float:left;
	position : relative;
}
%clearfix{
	&:before,&:after{
	content : "";
	display:table;
	}
	&:after{
	clear:both;
	}
	&{
	zoom:1;
	}
}

@for $i from 1 through $columns {
	
	.col-s-#{$i},.col-m-#{$i},.col-l-#{$i},.col-ls-#{$i}{
	@extend %col;}
	
}

@include responsive-columns('-s');	
 .row{
  margin : 0 $gutter * -0.5;
  margin-right: auto;
  margin-left: auto;
 @extend %clearfix}
@media screen and (max-width : $medium){


	@include responsive-columns('-m');

}
@media only screen and (min-width : $large){
	
	@include responsive-columns('-l');

.l-show{
	display:inline-block;
}
}
@media only screen and (min-width : 768px) and (max-width : 979px) and (orientation:landscape){

	@include responsive-columns('-ls');
	.ls-show{
	display:inline-block;
	}
}


